@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* .heading-gradient {
  background: linear-gradient(90deg, #f03f24, #ecab60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.container{
  display: flex;
  flex-direction: row;
  width: 88rem;
  margin: auto;
  border-radius: 15px;
  height: 25rem;
  /* background-color: #a4e7f1;
  /* color: #dee2e6; 
  color: rgb(55 105 162); */
  /* background-color: #14024d; */
  background-color: #545055;
  margin-top: 50px;
}

.heading{
  /* color: rgb(61 223 220); */
  color: rgb(247 247 247);
  font-size: 90px;
  margin-top: 0;
  margin-bottom: -26px;
  padding-top: 0px;
  margin-left: 68px;
}

.heading2{
  color: rgb(18, 20, 20);
  /* color: rgb(204 235 246); */
  font-size: 42px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 33px;
  margin-left: 68px;
}

.heading3{
  color: rgb(18, 20, 20);
  font-size: 62px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 33px;
  margin-left: 22px;
}

.left{
  width: 62rem;
}

.right img{
  margin-top: 30px;
  margin-left: 10px;
  height: 350px;
}

/*---------------- CSS for Buttons ---------------------*/

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centers the items horizontally */
  align-items: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #54505599;
  border: 3px solid rgb(76 73 77);
  border-radius: 15px;
  width: 40rem;
  height: 10rem;
  margin-top: 40px;
  /* margin-left: 60px; */
  margin-left: 30px;
  margin-right: 30px;
  /* margin-top: 30px; */
}

.description{
  font-size: 19px;
  color: #cdc5cf;
}

.homeButton {
  background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  height: 41px;
  width: 104px;
  color: rgb(46, 45, 45);
  border-radius: 7px;
  transition: background 0.45s ease, transform 0.3s ease;
}

.homeButton:hover {
  background: linear-gradient(to right, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  transform: scale(1.05);
}

.homeButton a{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 27px;
  cursor: pointer;
  transition: color 0.3s ease;
  position: absolute;
}

.homeButton a:hover {
  color: rgb(46, 45, 45);
}

/* ------------------- User Login Page ---------------------- */

.loginContainer{
  display: flex;
  flex-direction: row;
  margin: 0;
}

.leftDiv{
  background-color: #545055;
 height: 45.5rem;
 width: 40rem;
}

.leftDiv img{
  height: 590px;
    margin-top: 50px;
    margin-left: 25px;
}

/*------------------- Login Component ----------------------------*/


.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 66px auto;
  padding: 20px;
  border-radius: 25px;
  border: 2px solid grey;
  height: 35rem;
}

.login-form-container p{
  font-size: 35px;
  font-weight: bold;
  color: #cdc5cf;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 24px;
  color: #d9e5ff;
}

input {
  background-color: #545055;
  width: 20rem;
  height: 55px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  color: #cdc5cf;
  font-weight: bold;
}

input::placeholder{
  color: #bcbcbc;
  font-size: 15px;
}

button {
  width: 20rem;
  height: 55px;
  padding: 10px;
  background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  color: rgb(46, 45, 45);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 40px;
  transition: background 0.6s ease, transform 0.3s ease;
}

button:hover {
  background: linear-gradient(to right, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  transform: scale(1.02);
}

/* ----------------------- User Form ------------------------------------ */

.user-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.userForm_Img1{
  height: 450px;
}


.left-container, 
.middle-container, 
.right-container {
  flex: 1; /* Ensures that each container takes up an equal share of the space */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Optional padding for spacing within each container */
}

.user-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 25px;
  border: 2px solid grey;
  height: 38rem;
  background: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
}

.user-form-container p{
  font-size: 25px;
  font-weight: bold;
  color: #f3ecf4;
}

.radio-group {
  display: flex;
  gap: 20px;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radio-option input[type="radio"] {
  accent-color: #cdc5cf;
  width: 20px;
  height: 20px;
  margin-top: -5px;
}

.radio-option label {
  font-size: 18px;
  color: #d9e5ff;
  font-weight: bold;
  margin-top: 4px;
}

/* ----------------------------- Admin Access Page ---------------------------- */

.admin-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.subContainer{
  width: 26rem;
    height: 10rem;
    border: 2px solid grey;
    border-radius: 15px;
    margin: 50px auto;
    background:  linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    align-items: center;
}
.subContainer p{
  font-size: 20px;
  font-weight: bold;
  align-self: center;
}